<section id="about" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/1.jpg);">
  <div class="wrapsection">
    <div class="parallax-overlay" style="background-color: #01b0d1;opacity:0.9;"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="maintitle">
            <h3 class="section-title"><strong>FIND <span class="lighter">CAUSE</span></strong> to support your nation</h3>
            <p class="lead">
              To Work for the cause and care of disadvantaged older persons and to improve therir quality of life.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <img src="http://themepush.com/demo/runcharity/assets/img/dummy.jpg" alt="">
            <h3>August 7, 2015 <br/>Square Garden</h3>
            <div class="text-left">
              <p>
                I will place all the necessary content for this event here, including where they can register, join, attend &amp; so on.
              </p>
              <p>
                If not enough room, I will link to learn more, a new event page dedicated.
              </p>
              <p>
                Yap. Really looking goody awesome!
              </p>
              <p class="text-center">
                <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <span class="glyphicon glyphicon-stats"></span>
            <h3>1000+ Participants</h3>
            <p>
              More Participants connect with India Donate Now in last 5 Years.
            </p>
            <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <span class="glyphicon glyphicon-tree-deciduous"></span>
            <h3>195 Concerts</h3>
            <p>
              Conserts held in all cities to raise awareness.
            </p>
            <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
            <span class="glyphicon glyphicon-heart"></span>
            <h3>268 Sponsors</h3>
            <p>
              Many Sponsors come forward in this extra ordinary mission.
            </p>
            <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.4s">
            <span class="glyphicon glyphicon-usd"></span>
            <h3>20,000 Donated</h3>
            <p>
              Please Donate to help people who needs.
            </p>
            <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <section class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/3.jpg);">
    <div class="wrapsection">
    <div class="parallax-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 sol-sm-12">
          <div class="maintitle">
            <h3 class="section-title justtitle">Participation is everything</h3>
            <p class="lead bottom0 wow bounceInUp">
              India Donate Now is a leading charity platform in India working with and for disadvantaged elderly for more than 4 decades.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

