
<section class="whitecolor parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/5.jpg);">
  <div class="wrapsection">
    <div class="container">
    <div class="row">
      <div class="col-md-12 sol-sm-12">
        <div class="maintitle">
          <h3 class="section-title justtitle">Charity <span class="wow flipInX">&amp; love</span> are the same</h3>
          <p class="lead bottom0">
            “For attractive lips, speak words of kindness.
            For lovely eyes, seek out the good in people.
            For a slim figure, share your food with the hungry.
            For beautiful hair, let a child run his fingers through it once a day.
            For poise, walk with the knowledge you’ll never walk alone."
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
  </section>
<section id="contactarea" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/map.png);">
  <div class="wrapsection">
    <div class="parallax-overlay" style="background-color: #1cbb9b;opacity:0.95;"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="maintitle">
            <h3 class="section-title">Get in Touch</h3>
            <p class="lead">
              If you have questions about our events, don't hesitate to send us your message. This is a real working contact form, test it!
            </p>
          </div>
          <form id="contact" name="contact" method="post" class="text-left">
            <fieldset>
              <div class="row">
                <div class="col-md-4 wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
                  <label for="name">Name<span class="required">*</span></label>
                  <input type="text" name="name" id="name" size="30" value="" required/>
                </div>
                <div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
                  <label for="email">Email<span class="required">*</span></label>
                  <input type="text" name="email" id="email" size="30" value="" required/>
                </div>
                <div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
                  <label for="phone">Phone</label>
                  <input type="text" name="phone" id="phone" size="30" value=""/>
                </div>
              </div>
              <div class="wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="1.5" style="margin-top:15px;">
                <label for="message">Message<span class="required">*</span></label>
                <textarea name="message" id="message" required></textarea>
              </div>
              <div class="wow fadeIn animated" data-wow-delay="0.3" data-wow-duration="1.5s">
                <input id="submit" type="submit" name="submit" value="Send"/>
              </div>
            </fieldset>
          </form>
          <div id="success">
            <p class="contactalert">
              Your message was sent succssfully! I will be in touch as soon as I can.
            </p>
          </div>
          <div id="error">
            <p class="contactalert">
               Something went wrong, try refreshing and submitting the form again.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- Credits -->
  <section id="credits" class="text-center">
    <span class="social wow zoomIn">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
    <a href="https://www.skype.com/en/"><i class="fa fa-skype"></i></a>
    <a href="https://www.linkedin.com/in/prashant-tyagi-58a736161"><i class="fa fa-linkedin"></i></a>
    <a href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa fa-google-plus"></i></a>
    </span><br/>
    Copyright &copy; <a href="hoome">India Donate Now</a>
    <br/>Made By <i class="fa fa-heart"></i> Prashant Tyagi
  </section>
