<section id="gallery" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/2.jpg);">
  <div class="wrapsection">
    <div class="parallax-overlay" style="background-color:#00c1c1;opacity:0.9;"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 sol-sm-12">
          <div class="maintitle">
            <h3 class="section-title">Events Gallery</h3>
            <p class="lead wow flipInX">
              Have a look at your past events gallery, see how much fun we have while helping people all over the world. Join our community today!
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <a href="https://ununsplash.imgix.net/photo-1429277158984-614d155e0017?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
            <img src="assets\images\Jeevan-ki-umang-foundation-10-min.jpg" alt="" class="image-responsive">
            <div class="description">
              <span class="caption">This is <b>awesome</b></span>
              <span class="camera"><i class="fa fa-camera"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://unsplash.imgix.net/uploads/14115408840644deb16b0/2dc933e3?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
          <img src="assets\images\_methode_times_prod_web_bin_6494666a-a9a0-11ea-8500-5aff29860cf1.jpg" alt="" class="image-responsive">
            <div class="description">
              <span class="caption">Great <b>marathon</b></span>
              <span class="camera"><i class="fa fa-link"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://ununsplash.imgix.net/photo-1429277096327-11ee3b761c93?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
          <img src="assets\images\ft20_secondaryimages-about3.jpg" alt="" class="image-responsive">
            <div class="description">
              <span class="caption">Running <b>miles</b></span>
              <span class="camera"><i class="fa fa-heart"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://unsplash.imgix.net/uploads/141327328038701afeede/eda0fb7c?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
          <img src="assets\images\27148074-portrait-of-confident-young-volunteers-gesturing-thumbs-up-at-park.jpg" alt="" class="image-responsive">
            <div class="description">
              <span class="caption">Young <b>volunteers</b></span>
              <span class="camera"><i class="fa fa-tachometer"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://ununsplash.imgix.net/photo-1418225043143-90858d2301b4?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
          <img src="assets\images\2151.jpg" alt="" class="image-responsive">
            <div class="description">
              <span class="caption">Charity <b>concerts</b></span>
              <span class="camera"><i class="fa fa-microphone"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
          <img src="assets\images\Corporate-Sponsorship-1.jpg" alt="" class="image-responsive">
            <div class="description">
              <span class="caption">Generous <b>sponsors</b></span>
              <span class="camera"><i class="fa fa-coffee"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </section>
