
<div id="parallax">
</div>

<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <!--Logo -->
      <a href="home" class="navbar-brand">India Donate <span class="lighter">NOW</span></a>
    </div>
    <!-- Navigation -->
    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
    <ul class="nav navbar-nav">
      <li>
      <a href="home">Home</a>
      </li>
      <li>
      <a href="about">About</a>
      </li>
      <li>
      <a href="gallery">Gallery</a>
      </li>
      <li>
      <a href="contact">Contact</a>
      </li>
      <li>
        <a href="https://rzp.io/l/bXyW47XLaN">Donate Now!</a>
      </li>
    </ul>
    </nav>
  </div>
  </header>

  <!-- Intro-->
  <section id="hero" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="herotext">
          <h1 class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.1s">INDIA DONATE <span class="lighter">NOW</span></h1>
          <p class="lead wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
            When we give cheerfully and accept gratefully, everyone is blessed.
          </p>
          <p>
            <a href="gallery" class="btn btn-default btn-lg wow fadeInLeft" role="button"> View Gallery </a> &nbsp;
            <a href="https://rzp.io/l/bXyW47XLaN" class="btn btn-default btn-lg wow fadeInRight" role="button">Donate</a>
          </p>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
  </section>
